@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

@{ 
    NotebookViewModel selectedNotebook = Model.SelectedNotebookId.HasValue ? Model.Notebooks.First(p => p.Id == Model.SelectedNotebookId.Value) : null;
}

<div class="main-content">
    <div id="notebooks" class="col-md-2 full-height section-base">
        @await Html.PartialAsync("_NotebookSection", Model)

        <a href="javascript:void(0)">
            <div class="section-bottom">
                + Notebook
            </div>
        </a>
    </div>

    <div id="pages" class="full-height">
        @await Html.PartialAsync("_PageSection", selectedNotebook)
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            console.log('Index page - ready');
        });

        function refreshNotebooks(notebookId) {
            if (notebookId) {
                console.log('refreshing notebooks selection: ' + notebookId);

                var url = '@Url.Action("Notebook", "Notebook")' + '?notebookId=' + notebookId;
                $.ajax({
                    method: "GET",
                    url: url
                }).done(function (response) {
                    $('#notebooks').html(response);
                    refreshPages(notebookId);
                });
            }

        }

        function refreshPages(notebookId, pageId) {
            if (notebookId) {
                console.log('refreshing pages for notebook: ' + notebookId);
                console.log('refreshing pages for page: ' + pageId);

                var url = '@Url.Action("Pages", "Notebook")' + '?notebookId=' + notebookId + '&pageId=' + pageId;

                $.ajax({
                    method: "GET",
                    url: url
                }).done(function (response) {
                    $('#pages').html(response);
                });
            }
           
        };

    </script>
}