@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

@{
    NotebookViewModel selectedNotebook = Model.SelectedNotebookId.HasValue ? Model.Notebooks.First(p => p.Id == Model.SelectedNotebookId.Value) : null;
}

<div class="main-content">
    <div class="col-md-2 full-height section-base">
        <div id="notebooks" class="full-height">
            @await Html.PartialAsync("_NotebookSection", Model)
        </div>

        <a href="javascript:void(0)">
            <div class="section-bottom">
                + Notebook
            </div>
        </a>
    </div>

    <div id="pages" class="full-height">
        @await Html.PartialAsync("_PageSection", selectedNotebook)
    </div>
</div>

@section Scripts {

    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

    <script>

        $(document).ready(function () {

            console.log('Index page - ready');
            instantiateEditor();
            
        });

        function refreshNotebooks(notebookId) {
            if (notebookId) {
                console.log('refreshing notebooks selection: ' + notebookId);

                var url = '@Url.Action("Notebook", "Notebook")' + '?notebookId=' + notebookId;
                $.ajax({
                    method: "GET",
                    url: url
                }).done(function (response) {
                    $('#notebooks').html(response);
                    refreshPages(notebookId);
                });
            }

        }

        function refreshPages(notebookId, pageId) {
            if (notebookId) {
                console.log('refreshing pages for notebook: ' + notebookId);
                console.log('refreshing pages for page: ' + pageId);

                var url = '@Url.Action("Pages", "Notebook")' + '?notebookId=' + notebookId + '&pageId=' + pageId;

                $.ajax({
                    method: "GET",
                    url: url
                }).done(function (response) {
                    $('#pages').html(response);
                    instantiateEditor();
                });
            }

        };

        function instantiateEditor() {

            var BackgroundClass = Quill.import('attributors/class/background');
            var ColorClass = Quill.import('attributors/class/color');
            Quill.register(BackgroundClass, true);
            Quill.register(ColorClass, true);

            var quill = new Quill('#editor-container', {

                placeholder: 'Compose an epic...',
                theme: 'snow'
            });
        }

    </script>
}