@{
    ViewData["Title"] = "Home Page";
}

<div class="main-content">
    <div id="notebooks" class="col-md-2 full-height section-base">
        Notebooks

        <a href="javascript:void(0)">
            <div class="section-bottom">
                + Notebook
            </div>
        </a>
    </div>

    <div id="pages" class="col-md-2 full-height section-base">
        Pages

        <a href="javascript:void(0)">
            <div class="section-bottom">
                + Page
            </div>
        </a>
    </div>

    <div id="editPage" class="col-md-8 full-height">
        Edit page content
    </div>
</div>