html, body {
    height: 100%;
    padding-top: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
 
}

.main-content {
    height: 100%;
    min-height: 100%;
}

.col-lg-12,
.col-md-2 {
    padding: 0;
}

.full-height {
    height: inherit;
}

/*box-shadow: [horizontal offset] [vertical offset] [blur radius] [color];*/
.section-base {
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
}

.section-bottom {
    font-size: 17px;
    padding: 8px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.section-item {
    font-size: 16px;
    padding: 10px;
}

.section-item-selected {
    background-color: #B8C9CF
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
